<h2>
    Select a Template
</h2>
<div class="text-center">
    <div class="well text-center">
        <div class="row">
            <div class="col-sm-12"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Base</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-success" style=" padding: 25px 0; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
    </div>
</div>

<!--<button class="btn btn-success" ng-click="goBodyBackground()">Save Body Background</button>-->
<!--<button class="btn btn-success" ng-click=" showhtmlcss = 'true'; goDesktopCSS();"><i class="fa fa-paste"></i> Create Copy/Paste</button>-->
<!--<button ng-show="visible5 || visible6 || visible7" class="btn btn-primary pull-right" ng-click="showhtml = !showhtml;">Toggle Generated CSS</button>-->
<div ng-show="showhtmlcss">
    <div class="well" style="margin-top: 25px;">
        <h1>
            Generated CSS
        </h1>
        <p class="alert-info alert text-center">
            Code Snippet
        </p>
        <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>
    </div>
</div>