<h2>
    Desktop Template
</h2>
        <p>Select a template and copy/paste the code snippet that appears below.</p>
<div class="text-center">
    <div class="well text-center">
        <div class="row">
            <div class="col-sm-6"><a class="baseDesktop" style=" text-align: center; color:#000;" ng-click="baseDesktop1 = !baseDesktop1"></a></div>
            <div class="col-sm-6 text-left">
               <h2>Base Template</h2>

                <ul>
                    <li>Fullscreen background image*</li>
                    <li>Store width is 1024px</li>
                    <li>Company logo / branding is centered above store**</li>
                    <li>Company name is hidden***</li>
                    <li>Mega-nav is hidden***</li>
                    <li>Side-nav is hidden***</li>
                    <li>Category images are more visual & fill the entire block</li>
                    <li>Category name is hidden***</li>
                    <li>Bottom Cart/Checkout buttons are located below store</li>
                </ul>
                <p>
                    <em>*Background image can be replaced</em>
                </p>
                <p>
                    <em>**Logo can be made left or right aligned</em>
                </p>         <p><em>***Hidden elements can be made visible</em>

            </p>

            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="desktop1" style=" text-align: center; color:#000;" ng-click="desktop1 = !desktop1"></a></div>

            <div class="col-sm-4"><a class="bg-danger" style="  height: 360px; text-align: center; color:#000;" ng-click=" desktop2 = 'true';">Template</a></div>
            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px; text-align: center; color:#000;" ng-click=" desktop3 = 'true';">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-danger"style="  height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-danger" style="height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-danger" style="  height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-danger" style="height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-danger" style="  height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-danger" style="  height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-4"><a class="bg-danger" style="height: 360px; text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>

            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
            <div class="col-sm-4"><a class="bg-danger" style=" height: 360px;text-align: center; color:#000;" ng-click=" showhtmlcss = 'true'; goDesktopCSS();">Template</a></div>
        </div>
    </div>
</div>

<!--<button class="btn btn-success" ng-click="goBodyBackground()">Save Body Background</button>-->
<!--<button class="btn btn-success" ng-click=" showhtmlcss = 'true'; goDesktopCSS();"><i class="fa fa-paste"></i> Create Copy/Paste</button>-->
<!--<button ng-show="visible5 || visible6 || visible7" class="btn btn-primary pull-right" ng-click="showhtml = !showhtml;">Toggle Generated CSS</button>-->
<div ng-show="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15">
    <div class="well" style="margin-top: 25px;">
        <h1>
            Generated CSS
        </h1>
        <p class="alert-info alert text-center">
            Copy/Paste
        </p>
        <pre ng-show="baseDesktop" ng-hide="desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15"  style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;"><code>
/* base code editor location: css/custom.css */
/* header on top | no mega-nav | no side-nav | no fixed-bottom | centered logo | no company name | no category name | no nav right */
@media (min-width: 990px){
    .container, .container-view, .jumbotron .container, .jumbotron .container-view, .navbar-fixed-bottom, .navbar-fixed-top {
        max-width: 960px; /* change to max-width:  1210px for large desktop */
        margin: 0 auto;
    }
    .container-view {
        padding: 15px 15px 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .header {
        max-width: 960px;
        margin: 15px auto 0;
        padding: 15px 15px 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar-fixed-top {
        position: static;
        margin-top: 170px /*  custom message no */
        /* margin-top: 345px;  custom message yes | ensure margin matches height on .jumbotron .container below */
    }
    /* disable animation for desktop themes on top and bottom navs */
    .navbar-fixed-top.headroom, .navbar-fixed-bottom  {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .navbar-fixed-top.headroom.headroom--pinned {
        top: auto;
    }
    .navbar-fixed-bottom {
        position: static; /* change to position: absolute to add fix to bottom back */
        margin-bottom: 15px;
    }
    .jumbotron {
        position: absolute;
        padding: 0;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0;
        display: block;
        text-align: center;
        background-color: transparent;
    }
    .jumbotron .container {
        height: 185px;  /* custom message no */
        /* height: 360px;  custom message yes | ensure height matches margin-top on .navbar-fixed-top above */
        padding: 0 15px;
        overflow: hidden;
    }
    .jumbotron .container .panel-body {
        padding: 0 15px; /* custom message requirement: 185px high and 960px wide.  Use custom message options on .jumbotron .container & .navbar-fixed-top if custom message yes */
        height: 185px;
    }
    .jumbotron .container h2.thumbnail {
        padding: 15px 0;
        margin-bottom: 0;
    }
    .jumbotron .container h2.thumbnail span {
        visibility: hidden; /* change to visibility: visible to add company name back */
    }
    nav.dropdown-mega {
        display: none;
    }
    body {
        /* background image full screen */
        background:#fff url('http://public.four51.com/ordercloud-2-0-assets/desktopThemes/img/shutterstock_148368839.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    aside.col-sm-3 {
        display: none !important;
    }
    aside + .col-md-8.col-md-offset-1 {
        width: 100%;
        margin-left: 0;
    }
    nav.nav ul li.hidden-sm {
        display: none;
    }
    .panel-category-list li.col-md-6 {
        width: 33.3333% !important;
    }
    .panel-category-list ul li .well {
        min-height: 0;
        padding: 0;
    }
    .panel-category-list ul li a {
        padding: 0;
    }
    .panel-category-list ul li a img {
        margin: 0 auto;
        max-height: 185px;
        width: 100%; /* width: 305px recommended for category images, otherwise will stretch to fill space on desktop themes */
    }
    .panel-category-list ul li .well h5 {
        display: none; /* change to display: block to add category name back */
    }
    .copyright-view p {
        text-align: right;
    }
    .copyright-view p a i {
        display: none;
    }
    .copyright-view p a.btn {
        margin-top: 5px;
    }
}
    </code></pre>
         <pre ng-show="desktop1"  ng-hide="baseDesktop  || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;"><code>
 /* 1 code editor location: css/custom.css */
 /* header on top | no mega-nav | no side-nav | no fixed-bottom | yes nav right */
@media (min-width: 990px){
    .container, .container-view, .jumbotron .container, .jumbotron .container-view, .navbar-fixed-bottom, .navbar-fixed-top, .header.navbar.navbar-inner {
        max-width: 960px; /* change to max-width:  1210px for large desktop */
        margin: 0 auto;
    }
    .container-view {
        padding: 15px 15px 0;
        background-color:#fff;
    }
    .header {
        position: relative;
        height: 560px; /* ensure height matches height on .jumbotron .container below */
        max-width: 960px;
        margin: 0 auto;
        padding: 15px;
    }
    .navbar-fixed-top {
        position: absolute;
        right: 15px;
        bottom: auto;
        top: 75px;
        left: auto;
        border: none;
        max-width: 760px;
    }
    /* disable animation for desktop themes on top and bottom navs */
    .navbar-fixed-top.headroom, .navbar-fixed-bottom  {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .navbar-fixed-top.headroom.headroom--pinned {
        top: 75px; /* ensure top matches top on .navbar-fixed-top above */
    }
    .navbar-fixed-bottom {
        position: static; /* change to position: absolute to add fix to bottom back */
        margin-bottom: 15px;
    }
    .jumbotron {
        position: absolute;
        padding: 0;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0;
        display: block;
        text-align: left;
        background-color: transparent;
    }
    .jumbotron .container {
        height: 560px;
        padding: 0;
        background-color:#fff;
        overflow: hidden;
    }
    .jumbotron .container .panel-body {
        background-image: url('http://public.four51.com/ordercloud-2-0-assets/desktopThemes/img/shutterstock_140442178.jpg');
        background-position:  center bottom;
        background-size: 100% 345px; /* custom message image/text requirement: 345px high and 960px wide */
        background-repeat: no-repeat;
        height: 360px;
        padding: 0;
        padding-top: 15px;
        border-top: 1px solid #d6d6d6;
    }
    .jumbotron .container h2.thumbnail {
        padding: 0 15px;
        margin-bottom: 0;
    }
    .jumbotron .container h2.thumbnail a {
        max-width: 170px;
        padding-top: 50px;
    }
    .jumbotron .container h2.thumbnail span {
        visibility: hidden; /* change to visibility: visible to add company name back */
    }
    nav.dropdown-mega {
        display: none;
    }
    body {
        background:#fff url('http://public.four51.com/ordercloud-2-0-assets/desktopThemes/img/shutterstock_208315975.jpg');
    }
    aside.col-sm-3 {
        display: none !important;
    }
    aside + .col-md-8.col-md-offset-1 {
        width: 100%;
        margin-left: 0;
    }
    nav.nav ul li.hidden-sm {
        display: none;
    }
    .panel-category-list li.col-md-6 {
        width: 33.3333% !important;
    }
    .panel-category-list ul li .well {
        min-height: 0;
        padding: 0;
    }
    .panel-category-list ul li a {
        padding: 0;
    }
    .panel-category-list ul li a img {
        margin: 0 auto;
        max-height: 185px;
        width: 100%; /* width: 305px recommended for category images, otherwise will stretch to fill space on desktop themes */
    }
    .panel-category-list ul li .well h5 {
        display: none; /* change to display: block to add category name back */
    }
    .copyright-view p {
        text-align: right;
    }
    .copyright-view p a i {
        display: none;
    }
    .copyright-view p a.btn {
        margin-top: 5px;
    }
}
         </code></pre>

      <pre ng-show="desktop2" ng-hide="baseDesktop  || desktop1 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 2
      </pre>

       <pre ng-show="desktop3" ng-hide="baseDesktop  || desktop1 || desktop2 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 3
      </pre>
       <pre ng-show="desktop4" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 4
      </pre>
       <pre ng-show="desktop5" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 5
      </pre>
       <pre ng-show="desktop6" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 6
      </pre>
       <pre ng-show="desktop7" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 7
      </pre>
       <pre ng-show="desktop8" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 8
      </pre>
       <pre ng-show="desktop9" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 9
      </pre>
       <pre ng-show="desktop10" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop11 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 10
      </pre>
       <pre ng-show="desktop11" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop12 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 11
      </pre>
       <pre ng-show="desktop12" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop13 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 12
      </pre>
       <pre ng-show="desktop13" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop14 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 13
      </pre>
       <pre ng-show="desktop14" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop15" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 14
      </pre>
       <pre ng-show="desktop15" ng-hide="baseDesktop || desktop1 || desktop2 || desktop3 || desktop4 || desktop5 || desktop6 || desktop7 || desktop8 || desktop9 || desktop10 || desktop11 || desktop12 || desktop13 || desktop14" style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
      design 15
      </pre>

    </div>
</div>