
<section class="container-fluid clearfix col-collapse">
    <div class="container-fluid" style="padding: 25px !important;max-width:1010px !important; margin: 35px auto 0; background-color:#fff;box-shadow: 0 3px 8px -4px hsla(0, 0%, 0%, 0.15);">
    <h2>
        Branding
    </h2>
        <ol>
            <li style="    color: hsl(0, 0%, 68%);
    font-size: 24px;
    margin: 0 9px;">
                <span style="color:#39AC95;">Edit HTML
            </li>
            <li style="    color: hsl(0, 0%, 68%);
    font-size: 24px;
    margin: 0 9px;">
                <span style="color:#39AC95;">Click preview
            </li>
            <li style="    color: hsl(0, 0%, 68%);
    font-size: 24px;
    margin: 0 9px;">
                <span style="color:#39AC95;">Copy</span> - click copy to save branding to your clipboard
            </li>
            <li style="    color: hsl(0, 0%, 68%);
    font-size: 24px;
    margin: 0 9px;">
                <span style="color:#39AC95;">Paste</span> - paste clipboard into HTML file
            </li>
        </ol>
    <div ng-repeat="design in designviewdefault">
        <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
    </div>
<div modal="showModal" close="cancel()" >
    <div class="modal-body">
        <div class="modal-footer">
            <button class="btn btn-lg btn-default" ng-click="closePreview();ok();"><i class="fa fa-times" style=""></i></button>
        </div>
        <div style="height: 766px;overflow-y: auto; overflow-x: hidden;border: 1px solid #d6d6d6;">
            <nav class="navbar" role="navigation" style="min-height: 60px; border: 1px solid #fff;background-color:#50ACDB; border-radius: 0;">
                <section>
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a href="#.#" style="padding: 20px; display: block; color:#fff;background-color:#359FD5;">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="order">
                            <a href="#.#" style="padding: 20px; display: block; color:#fff;">
                                <i class="fa fa-bar-chart-o"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#.#" style="padding: 20px; display: block; color:#fff;">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="cart">
                            <a class="cart" href="#.#" style="padding: 10px;display: block;color:#fff;" >
                                <span class="badge" style="background-color:#0C2A3A;">
                                    <span>2</span>
                                </span>
                                <i class="fa fa-shopping-cart"style="border: 1px solid rgb(255, 255, 255); border-radius: 50%; padding: 10px;" ></i>
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>
            <section class="active text-center" style="margin-top: 5px;">
                <div  class="container-fluid" style="margin: 25px 0;" ng-show="templatefile" ng-bind-html="templatefile"></div>
            </section>
            <section class="container-view">
                <div class="container-fluid">
                    <nav>
                        <ul class="nav">
                            <li class="pull-left">
                                <span class="text-primary">
                                    <i class="fa fa-bars text-info"></i>
                                    Categories
                                 </span>
                            </li>
                            <li class="pull-right">
                                <i class="fa fa-search text-primary"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Categories
                            </h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Products
                            </h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<button class="btn btn-default" ng-click="goNewCustom();open();">Preview</button>
        <button clip-copy="templatefile" clip-click="doSomething()" class="btn btn-success get-header" ng-show="copyHeader"><i class="fa fa-check"></i><i class="fa fa-paste"></i> Copy</button>
        </div>
</section>