<!--<div class="pull-right">-->
    <!--<a href="#/newTemplate" class="btn btn-default" >Advanced</a>-->
<!--</div>-->


<!--<div class="text-center">-->

    <!--<a href="#/desktopTheme" class="btn btn-default">Desktop Templates</a>-->
    <!--<a href="#/headerTemplate" class="btn btn-default">Branding</a>-->

    <!--<a href="#/loginBackground" class="btn btn-default">Login Background Image</a>-->
    <!--&lt;!&ndash;<a href="#/bodyBackground" class="btn btn-default">Body Background</a>&ndash;&gt;-->
    <!--<br />-->
    <!--<br />-->
<!--</div>-->
<h2>
    Login Image
</h2>
<p>
    Enter image URL
</p>
<div ng-repeat="design in designloginbackground" style="margin-bottom: 25px;">
    <input class="form-control" ng-model="design.value" />
</div>
<!--<button class="btn btn-success" ng-click="goLoginBackground()">Save Login Background</button>-->
<button class="btn btn-success" ng-click="goLoginBackground();"><i class="fa fa-paste"></i> Create Copy/Paste</button>
<!--<button ng-show="visible5 || visible6 || visible7" class="btn btn-primary pull-right" ng-click="showhtml = !showhtml;">Toggle Generated CSS</button>-->
<div ng-show="cssfile">
    <div class="well" style="margin-top: 25px;">
        <h1>
            Generated CSS
        </h1>
        <p class="alert-success alert text-center">
            Copy/Paste
        </p>
        <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{cssfile}}</code>
    </div>
</div>