<section class="container-fluid clearfix col-collapse">
    <div class="container-fluid" style="padding: 25px !important; max-width:1010px !important; margin: 35px auto 0; background-color:#fff;box-shadow: 0 3px 8px -4px hsla(0, 0%, 0%, 0.15);">
        <h2>
            Snippets
        </h2>

        <button clip-copy="" clip-click="doSomething()" class="btn btn-success get-header"><i class="fa fa-check"></i><i class="fa fa-paste"></i> Hide Mega Nav</button>
        <button clip-copy="" clip-click="doSomething()" class="btn btn-success get-header"><i class="fa fa-check"></i><i class="fa fa-paste"></i> Hide Side Nav</button>
        <button clip-copy="" clip-click="doSomething()" class="btn btn-success get-header"><i class="fa fa-check"></i><i class="fa fa-paste"></i> Hide Category Title</button>
    </div>
</section>
<div style="display: none">
    <pre>

    </pre>
</div>
